<footer class="footer" id="contact">
    <div class="container">
      <div class="footer-row">
        <div class="contact-content">
          <h4 class="title">Contact</h4>
          <p>
            You can contact me via email at:
            <br />
            <a class="mail-contact" href="mailto:augustin.renard77@gmail.com">augustin.renard77@gmail.com</a>

          </p>
        </div>
        <div class="social-links-row footer-social">
          
          <a href="https://github.com/Augmaster">
            <img
              src="../img/social_icons/github.svg"
              alt="Link to GitHub account"
            />
          </a>

          <a href="https://www.linkedin.com/in/augustin-renard-986855179/">
            <img
              src="../img/social_icons/linkedin.svg"
              alt="Link to linkedin profile"
            />
          </a>

          <a href="https://tryhackme.com/r/p/Augmaster">
            <img
              src="../img/social_icons/thm_logo.svg"
              alt="Link to TryHackMe profile"
            />
          </a>
        </div>

        <div class="footer-copyright">
        </div>
      </div>
    </div>
  </footer>