<header id="header" class="header">
    <div class="container container-lg">
      <div class="header-nav">
        <a
          href="../index.html##home"
          class="logo"
          data-aos="fade-down"
          data-aos-duration="1000"
          >A. Renard</a
        >
        <nav id="nav" class="nav">
          <ul class="nav-list" data-aos="fade-down" data-aos-duration="1000">
            <li class="nav-item">
              <a href="../index.html#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="../index.html#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="../index.html#education" class="nav-link">Education</a>
            </li>
            <li class="nav-item">
              <a href="../index.html#projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
              <a href="../writeups.html" class="nav-link">Writeups</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
          </ul>
          <button id="nav-btn" class="nav-btn">
            <img
              id="nav-btn-img"
              src="../img/icons/open.svg"
              alt="Navigation button"
            />
          </button>
        </nav>
      </div>
    </div>
  </header>